.security {
  background: url(../assets/background.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.security-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  width: 80%;
}
.securityinfo h1{
    color: #fff;
    font-size: 45px;
}
.securityinfo p{
    color: #fff;
    font-weight: 300;
}
.securityinfo .about-us{
    margin-bottom: 1rem;
}
.security-button {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  margin-top: 2rem;
}
.security-button button {
  background: #00b512;
  color: #dcdcdc;
  border: none;
  padding: 8px 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
}
.security-button img {
  border-radius: 50%;
  width: 37px;
  height: auto;
  background-color: #eee6e6;
  margin-left: -15px;
}

@media (max-width: 800px) {
  .security {
    width: 100%;
    height: 50vh;
  }
  .security-container {
    gap: 1rem;
  }
  .securityinfo h1 {
    font-size: 30px; 
  }
  .securityinfo p {
    font-size: 14px; 
  }
  .security-button button {
    padding: 8px 20px;
    font-size: 14px; 
  }
  .security-button img {
    width: 30px; 
  }
}

@media (max-width: 600px) {
  .security {
    height: auto; 
    padding: 10px; 
  }
  .security-container {
    gap: 2rem; 
    width: 100%; 
  }
  .securityinfo h1 {
    font-size: 28px;
  }
  .securityinfo p {
    font-size: 12px;
  }
  .security-button {
    align-items: center;
  }
  .security-button button {
    padding: 6px 15px; 
    font-size: 12px; 
  }
  .security-button img {
    width: 25px;
  }
  .etc{
    height: 400px;
    width: auto;
  }
}