.about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 80%;
}
.aimg {
  height: 400px;
  width: auto;
}
.second-page {
  margin-top: 40px;
}
.second-page .about-us {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eaecf0;
  width: 120px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  padding: 7px 15px;
  /* margin-top: -230px; */
  margin-bottom: 40px;
}
.second-page h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
.sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 8px solid #e5e5e5;
  padding-left: 16px;
  border-radius: 4px 0 0 4px;
}

.second-page section {
  background: #e5e5e5;
  gap: 4rem;
  height: 130px;
  width: 500px;
  border-radius: 20px;
  padding: 20px 50px 20px 15px;
  overflow: hidden;
}
/* .second-page section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  background: linear-gradient(to bottom, red 33.33%, rgb(7, 7, 13) 33.33% 100%);
  z-index: -1;
  border-radius: 20 0 0 20px;
} */
.second-page .first-section {
  background-color: #f1ffd2;
}
section h3 {
  margin-bottom: 0.5rem;
  color: #011821;
}
section p {
  font-size: 16px;
  color: #6b6969;
}

@media (max-width: 800px) {
  .about {
    height: 50vh;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .second-page {
    margin-top: 20px;
  }
  .second-page section {
    width: 400px;
  }
  .second-page h2 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  section p {
    font-size: 14px;
    color: #6b6969;
  }
}

@media (max-width: 600px) {
  .about {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }
  .about-container{
    flex-direction: column;
    gap: 2rem;
  }
}
