.features {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 80%;
}
.features-text .fea {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eaecf0;
  width: 120px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  padding: 7px 15px;
  margin-left: -30px;
}
.fea .imgg {
  height: 16px;
  width: auto;
}
.features-text h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-left: -30px;
  margin-top: 30px;
}
.featured-list {
  color: #676666;
  font-size: 16px;
}
.featured-list .second-li {
  margin-top: 1rem;
}
.features-button {
  display: flex;
  margin-left: -2rem;
  margin-top: 2rem;
  /* align-items: center; */
  /* justify-content: center; */
}
.features-button button {
  background: #fff;
  color: #000;
  border: 1px solid #00b512;
  padding: 8px 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
}
.features-button .iimg {
  background-color: #00b512;
  border-radius: 50%;
  margin-left: -15px;
  height: 37px;
  width: auto;
}
.features-image img {
  height: 450px;
  width: 400;
}

@media (max-width: 800px) {
  .features {
    width: 100%;
    padding: 20px;
    margin-top: -18rem;
    margin-bottom: -14rem;
  }
  .features-container {
    width: 80%;
  }
  .features-text h2 {
    font-size: 40px;
    margin-left: -20px;
  }
  .featured-list li{
    font-size: 14px;
  }
  .features-button button {
    padding: 8px 20px;
    font-size: 14px;
    margin-left: 15px;
  }
  .features-image img {
    width: 450px;
    height: auto;
  }
}
@media (max-width: 600px) {
  .features {
    height: auto;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .features-container {
    gap: 1rem;
    width: 100%;
    flex-direction: column;
  }
  .features-text h2 {
    font-size: 40px;
  }
  .featured-list {
    font-size: 14px;
  }
  .features-button button {
    padding: 6px 15px;
    font-size: 12px;
  }
  .features-image img {
    height: 400px;
    width: auto;
    margin-left: 1.5rem;
  }
}
