.features {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 80%;
}
.features-text .fea {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eaecf0;
  width: 120px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  padding: 7px 15px;
  margin-left: -30px;
}
.fea .imgg {
  height: 16px;
  width: auto;
}
.features-text h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-left: -30px;
  margin-top: 30px;
}
.featured-list {
  color: #676666;
  font-size: 16px;
}
.featured-list .second-li {
  margin-top: 1rem;
}
.features-button {
  display: flex;
  margin-left: -2rem;
  margin-top: 2rem;
  /* align-items: center; */
  /* justify-content: center; */
}
.features-button button {
  background: #fff;
  color: #000;
  border: 1px solid #00b512;
  padding: 8px 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
}
.features-button .iimg {
  background-color: #00b512;
  border-radius: 50%;
  margin-left: -15px;
  height: 37px;
  width: auto;
}
.features-image img {
  height: 450px;
  width: 400;
}

@media (max-width: 390px) {
  .features {
    height: auto; 
    padding: 10px; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }

  .features-container {
    gap: 1rem; 
    width: 100%;
    flex-direction: column; 
    align-items: center; 
  }

  .features-text {
    margin: 0 auto;
  }

  .features-text h2 {
    font-size: 24px; 
    margin: 0; 
  }

  .features-text .fea {
    font-size: 9px; 
    padding: 4px 8px;
    margin-left: 0; 
  }

  .featured-list {
    font-size: 12px; 
  }
  .featured-list li{
    padding: 4px 8px;
  }

  .features-button {
    margin-left: 0; 
    margin-top: 1rem;
  }

  .features-button button {
    padding: 6px 15px;
    font-size: 12px; 
  }

  .features-image img {
    height: auto; 
    width: 100%; 
    max-width: 300px; 
  }
}

@media (max-width: 800px) {
  .features {
    width: 100%;
    padding: 20px;
    margin-top: -20rem;
    margin-bottom: -20rem;
  }
  .features-container {
    width: 80%;
    gap: 2rem;
  }
  .features-text h2 {
    font-size: 36px;
    margin-left: -20px;
  }
  .features-text .fea{
    font-size: 12px;
    padding: 5px 10px;
  }
  .featured-list li{
    font-size: 14px;
  }
  .features-button button {
    padding: 6px 20px;
    font-size: 14px;
    margin-left: 10px;
  }
  .features-image img {
    width: 300px;
    height: auto;
  }
}
@media (max-width: 600px) {
  .features {
    height: auto;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .features-container {
    gap: 1rem;
    flex-direction: column;
    margin-right: -7rem;
  }
  .features-text{
    margin: 0 auto;
  }
  .features-text h2 {
    font-size: 32px;
  }
  .featured-text .fea{
    font-size: 10px;
    padding: 4px 8px;
  }
  .featured-list {
    font-size: 14px;
  }
  .features-button button {
    padding: 6px 15px;
    font-size: 12px;
  }
  .features-image img {
    height: 300px;
    width: auto;
    margin-left: -5rem;
  }
}

@media (max-width: 480px) {
  .features {
    height: auto; 
    padding: 10px; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }

  .features-container {
    gap: 1rem; 
    width: 100%;
    flex-direction: column; 
    align-items: center; 
  }

  .features-text {
    margin: 0 auto;
  }

  .featured-list li{
    font-size: 10px;
  }

  .features-text h2 {
    font-size: 24px; 
    margin: 0; 
  }

  .features-text .fea {
    font-size: 9px; 
    padding: 4px 8px;
    margin-left: 0; 
  }

  .featured-list {
    font-size: 12px
  }
}